<!-- <p-dialog header="Patient Details" [(visible)]="display" [style]="{width: '80vw', background:'lightgray'}">


  <div class='card-body'>
    <div class='row'>
      <div class='col-md-6'>
      <h3>Name : {{patient?.name}}</h3>
      <h3>Address: {{patient?.address }}</h3>
      <h3>Mobile: {{patient?.phoneNumber}}</h3>
      <h3>Status: {{patient?.isMarried ?"Married":"Single"}}</h3>
      <h3>Age: {{patient?.age}}</h3>
      <h3>Gender: {{patient?.gender}}</h3>
      </div>

    </div>
  </div>
</p-dialog>
<button mat-raised-button color="accent" (click)="showPatient()">Details</button> -->

<div class='card' >

   <div class='card-body' >
    <div class='row'>
      <div  class='col-md-8'>

        <div class='row'>
          <div class='col-md-4'>ID :</div>
          <div class='col-md-8'>{{patient?._id}}</div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Full Name :</div>
          <div class='col-md-8'>{{patient?.name}}</div>

        </div>

        <div class='row'>
          <div class='col-md-4'>Address :</div>
          <div class='col-md-8'>{{patient?.address}}</div>

        </div>


        <div class='row'>
          <div class='col-md-4'>Mobile :</div>
          <div class='col-md-8'>{{patient?.phoneNumber }}</div>

        </div>

        <div class='row'>
          <div class='col-md-4'>Status :</div>
          <div class='col-md-8'>{{patient?.isMarried}}</div>

        </div>

        <div class='row'>
          <div class='col-md-4'>Age :</div>
          <div class='col-md-8'>{{patient?.age}}</div>

        </div>

        <div class='row'>
          <div class='col-md-4'>Gender :</div>
          <div class='col-md-8'>{{patient?.gender}}</div>

        </div >

  </div>
</div> -->
<!-- <p-button (click)="showPatient()" icon="pi pi-info-circle" label="Details"></p-button> -->
<button (click)="showPatient()"  icon="pi pi-info-circle" label="Details"></button>
