
@import "./../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

body
{
  margin: 0;
  padding:0;
  overflow-x: hidden;
  
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

